.cards{
    background-color: purple;
    background-image: linear-gradient(to right,rgb(76, 55, 121), rgb(25, 6, 57));
    color: whitesmoke;
    height: 500px;
    overflow: auto;
    margin-left: 20%;
    margin-right: 20%;
    backdrop-filter: blur(2px);    
}
.topcard{
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.example-full-width {
    width: 100%;
}  

.login{
    display: flex;
    justify-content: center;
    align-items: center;
}