<div class="footer">
    <h2>About Us</h2>
    <p>This is News application to View News Articles.Stay Updated with the latest news</p>
    <h2>Contact us</h2>
    <p>Reach out to us with <label style="font-style: italic;">newsApp&#64;mail.com</label></p>
    <div>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon><img src="/../assets/twitter.png"></mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </div>
</div>
