.footer{
  /* background-image: url("/../assets/footerbg.png"); */
  /* background-color: rgb(184, 184, 145); */
  width: 100%;
  bottom: 0vh;
  /* background-image: linear-gradient(to right,rgb(47, 24, 96), rgb(19, 3, 45)); */
  background-color: rgb(19, 3, 45);
  background-repeat: no-repeat;
  background-size: cover;
  color: azure;
  text-align: center;
}